services:
  unbound_exporter:
    build: .
    command: [ "-unbound.host=unix:///var/run/socket/unbound.ctl" ]
    volumes:
      - socket:/var/run/socket:ro
    ports:
      - "9167:9167"
    depends_on:
      unbound:
        condition: service_started
  unbound:
    image: "klutchell/unbound:1.24.1"
    command: [ "-dd", "-v" ]
    volumes:
      - socket:/var/run/socket:rw
      - ./configs/unbound-example.conf:/etc/unbound/unbound.conf
      - ./configs/a-records-example.conf:/etc/unbound/a-records.conf
      - ./configs/srv-records-example.conf:/etc/unbound/srv-records.conf
      - ./configs/droplist.zone:/etc/unbound/droplist.zone
    ports:
      - "1053:1053/udp"
      - "1053:1053/tcp"
volumes:
  socket:
