services:
  unbound_exporter:
    build:
      context: ..
    command: [ "-unbound.host=unix:///var/run/socket/unbound.ctl" ]
    volumes:
      - socket:/var/run/socket:ro
    ports:
      - "9167:9167"
    depends_on:
      unbound:
        condition: service_started
  unbound:
    build:
      context: .
      dockerfile: unbound.Containerfile
    volumes:
      - socket:/var/run/socket:rw
    ports:
      - "1053:1053/udp"
      - "1053:1053/tcp"
      - "2853:2853/tcp" # DoQ
volumes:
  socket:
