services:
  # Setup container that generates certificates
  setup:
    build:
      context: .
      dockerfile: unbound.Containerfile
    volumes:
      - certs:/usr/local/etc/unbound
    working_dir: /certs
    command:
      ["/usr/local/sbin/unbound-control-setup"]

  unbound_exporter:
    build:
      context: ..
    environment:
      - EXPORTER_COMMAND
    volumes:
      - certs:/certs:ro
    command: ["-unbound.host=tcp://unbound:8954", "-unbound.ca=/certs/unbound_server.pem", "-unbound.cert=/certs/unbound_control.pem", "-unbound.key=/certs/unbound_control.key"]
    ports:
      - "9167:9167"
    depends_on:
      setup:
        condition: service_completed_successfully
      unbound:
        condition: service_started

  unbound:
    build:
      context: .
      dockerfile: unbound.Containerfile
    environment:
      - UNBOUND_CONFIG
    volumes:
      - certs:/certs:ro
      - ./setup-unbound-config.sh:/setup-unbound-config.sh:ro
    command: ["/usr/local/sbin/unbound", "-v", "-d", "-c", "/etc/unbound/remote-control-tls.conf"]
    ports:
      - "1053:1053/udp"
      - "1053:1053/tcp"
      - "2853:2853/tcp" # DoQ
      - "8953:8953"
      - "8954:8954"
    depends_on:
      setup:
        condition: service_completed_successfully

volumes:
  certs:


