---
name: integration

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  integration:
    runs-on: [ubuntu-latest]
    strategy:
      matrix:
        include:
          - test_type: unix
          - test_type: tcp
          - test_type: tls
    env:
      TEST_TYPE: ${{ matrix.test_type }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25.x"
      - name: checkout
        uses: actions/checkout@v6
      - name: Start containers
        working-directory: integration
        run: docker compose -f docker-compose-$TEST_TYPE.yml up --build --detach
      - name: run integration test
        working-directory: integration
        run: go test -v --tags=integration
      - name: Stop containers
        if: always()
        working-directory: integration
        run: docker compose -f docker-compose-$TEST_TYPE.yml down
