---
name: integration

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  integration:
    runs-on: [ubuntu-latest]
    strategy:
      matrix:
        include:
          - test_type: unix
            unbound_config: /etc/unbound/unbound-example.conf
            exporter_command: "-unbound.host=unix:///var/run/socket/unbound.ctl"
          - test_type: tcp
            unbound_config: /etc/unbound/unbound-tcp.conf
            exporter_command: "-unbound.host=tcp://unbound:8953 -unbound.ca= -unbound.cert= -unbound.key="
          - test_type: tls
            unbound_config: /etc/unbound/unbound-tls.conf
            exporter_command: "-unbound.host=tcp://unbound:8954 -unbound.ca=/certs/unbound_ca_ec.pem -unbound.cert=/certs/unbound_control_ec.pem -unbound.key=/certs/unbound_control_ec.key"
    env:
      TEST_TYPE: ${{ matrix.test_type }}
      UNBOUND_CONFIG: ${{ matrix.unbound_config }}
      EXPORTER_COMMAND: ${{ matrix.exporter_command }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25.x"
      - name: checkout
        uses: actions/checkout@v6
      - name: Start containers
        working-directory: integration
        run: docker compose up --build --detach
      - name: run integration test
        working-directory: integration
        run: go test -v --tags=integration
      - name: Stop containers
        if: always()
        working-directory: integration
        run: docker compose down
